<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Luxury Bags</title>
</head>
<script>
  function clickAlert() {
    alert("Added to cart");
}
</script>
<body>
<center>
	<h1>LUXURY BAGS</h1>
	<table>
	<tr>
	<p style="text-align:left;"><td><img src="https://rukminim1.flixcart.com/image/832/832/kfbfr0w0/hand-messenger-bag/w/p/7/handbag-combo-black-handbag-combo-black-shoulder-bag-rubela-original-imafvszeht7chfdz.jpeg?q=70"
			width="400" 
            height="300"></td><td><p><h1 style="font-size:30px;">MAMMON WOMEN HANDBAGS COMBO (4-BIB RIBN)</h1>
									<h3>SPECIAL PRICE - ₹1500</h3>
									<h5 style="font-size:15px;"> Handbags - One Main compartment with top Zip closure,
																 Sling bag - Cute Small size sling for carrying phone cosmetics key money and other light and small essentials,
																 Accessories Pouch - Ideal to keep cell phones money wallets cosmetics etc,
																 Coin purse - Small Coin purse ideal to keep currency and coins</h5>
									
									<h6 style="font-size:14px;"> AVAILABLE OFFERS - </h6>
									<h6 style="font-size:14px;"> : 5% Instant Discount up to INR 250 on HSBC Cashback Card Credit Card Transactions. Minimum purchase value INR 1000</h6>
						
					<input type="button" onclick="clickAlert()" value="Add to cart">
			<button type="Buy Now">Buy Now</button></p></td></p>		
	</tr>
	
	
	<tr>		
	<p style="text-align:left;"><td><img src="https://sc04.alicdn.com/kf/Ha14dbb51158c4da4aaffc99768ce347az.png"
			width="400" 
            height="400"></td><td><p><h1 style="font-size:30px;">HANDBAGS SET RIBBON BELT LARGE CAPACITY BAG SET</h1>
									<h3>SPECIAL PRICE - ₹1250 >> Depends on color</h3>
									<h5 style="font-size:15px;"> Handbags - One Main compartment with top Zip closure,
																 Sling bag - Cute Small size sling for carrying phone cosmetics key money and other light and small essentials,
																 Accessories Pouch - Ideal to keep cell phones money wallets cosmetics etc,
																 Coin purse - Small Coin purse ideal to keep currency and coins</h5>
									
									<h6 style="font-size:14px;"> AVAILABLE OFFERS - </h6>
									<h6 style="font-size:14px;"> : 5% Instant Discount up to INR 250 on HSBC Cashback Card Credit Card Transactions. Minimum purchase value INR 1000</h6>
						
					<input type="button" onclick="clickAlert()" value="Add to cart">
			<button type="Buy Now">Buy Now</button></p></td></p>
	</tr>



	<tr>
	<p style="text-align:left;"><td><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/marni-bag-1660058585.jpg"
			width="400" 
            height="600"></td><td><p><h1 style="font-size:30px;">MARNI
																Trunk medium web-strap leather cross-body bag</h1>
									<h3>SPECIAL PRICE - ₹650</h3>
									<h5 style="font-size:15px;">Width 9 in/23cm,
																Length 6.4 in/16.5cm,
																Depth 4.7 in 12.5/cm,
																Strap drop length 21.5 in /55cm,
																Adjustable strap</h5>
									
									<h6 style="font-size:14px;"> AVAILABLE OFFERS - </h6>
									<h6 style="font-size:14px;"> : 10% OFF YOUR FIRST ORDER. Enter code MFNEW. Orders over £200 only. Brand and product exclusions apply and are subject to change</h6>
						
					<input type="button" onclick="clickAlert()" value="Add to cart">
			<button type="Buy Now">Buy Now</button></p></td></p>
	</tr>	


	<tr>
	<p style="text-align:left;"><td><img src="https://cdn-images.farfetch-contents.com/16/43/57/19/16435719_31729486_1000.jpg"
			width="400" 
            height="500"></td><td><p><h1 style="font-size:30px;">PRADA LEATHER SHOULDER BAG</h1>
									<h3>SPECIAL PRICE - ₹800</h3>
									<h5 style="font-size:15px;">Colors - White,
																Sizes - OS</h5>
									
									<h6 style="font-size:14px;"> AVAILABLE OFFERS - </h6>
									<h6 style="font-size:14px;"> : 5% Instant Discount up to INR 250 on HSBC Cashback Card Credit Card Transactions. Minimum purchase value INR 1000</h6>
						
					<input type="button" onclick="clickAlert()" value="Add to cart">
			<button type="Buy Now">Buy Now</button></p></td></p>
	</tr>
</table>
</center>
</body>
</html>