<html>
<head>
<style>

p{
background-repeat: no-repeat, repeat;
background-size:cover;

}

h1{
color:black;
}

body{
background-image:url('https://t4.ftcdn.net/jpg/03/18/92/57/360_F_318925721_Lk0xALnTK2c2tq9mcYlZFTO2rovKFxiQ.jpg');
background-size:1700px;
background-repeat:no-repeat;

</style>

</head>

<body>
<center>
<form action='\contact'method='POST'>
{% csrf_token %}
	<h1> CONTACT  INFORMATION<h1>
	<br/>
	<h4>Email : gubu08@gmail.com</h4>
	<h4>Phone Number : 8618388273 </h4>
</form>
</center>
</body>
</html>