<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Gadgets</title>
</head>
<script>
  function clickAlert() {
    alert("Added to cart");
}
</script>
<body>
<center>
	<h1>GADGETS</h1>
	
	<table>
	<tr>
	<p style="text-align:left;"><td><img src="https://m.media-amazon.com/images/I/51DY+QrEpOL._SL1024_.jpg"
			width="500" 
            height="400"></td><td><p><h1 style="font-size:30px;">ZEBRONICS ZEB-TRANSFORMER GAMING KEYBOARD AND MOUSE COMBO - USB, BRAIDED CABLE</h1>
									<h3>SPECIAL PRICE - ₹1,599</h3>
									<h4 style="font-size:15px;">Brand - ZEBRONICS,
																Colour - Black,
																Connector Type - Wired,
																Special Feature - Mouse and KeyboardCombo set,
																Wireless - No, Both are USB interface, Gaming Keyboard,
																1 year warranty</h4>
									<h5>AVAILABLE OFFERS - </h5>
									<h6 style="font-size:14px;"> : Get 7.5% up to Rs. 1500 Instant Discount on World Bank Credit Card and Debit Card EMI transactions</h6>
					
									
					<input type="button" onclick="clickAlert()" value="Add to cart">
			<button type="Buy Now">Buy Now</button></p></td></p>
	</tr>
		





	<tr>	
	<p style="text-align:left;"><td><img src="https://m.media-amazon.com/images/I/71Xk9qt6IwL._SL1500_.jpg"
			width="500" 
            height="400"></td><td><p><h1 style="font-size:30px;">ACER PREDATOR HELIOS 300 11th GEN INTEL CORE I9-11900H 15.6 INCHES Fhd Ips GAMING LAPTOP
									 - 16 Gb/1Tb Ssd/Windows 11 Home/6 Gb Graphics/Nvidia Geforce Rtx 3060/360 Hz Ph315-54</h1>
									 
									<h3>SPECIAL PRICE - ₹1,29,490(24%)</h3>
									<h4 style="font-size:15px;">Brand - Acer,
																Series - Predator Helios 300,
																Screen - Size 15.6 Inches,
																Colour - Black,
																Hard Disk Size - 1 TB,
																CPU Model	Core i9,
																RAM Memory Installed Size - 16GB,
																Operating System - Windows 11 Home,
																Special Feature	- Backlit Keyboard,
																Graphics Card Description - Dedicated</h4>
									<h5>AVAILABLE OFFERS - </h5>
									<h6 style="font-size:14px;">: 5% Instant Discount up to INR 250 on HSBC Cashback Card Credit Card Transactions. Minimum purchase value INR 1000</h6>
					
									
					<input type="button" onclick="clickAlert()" value="Add to cart">
			<button type="Buy Now">Buy Now</button></p></td></p>	
	</tr>
			



			
	<tr>		
	<p style="text-align:left;"><td><img src="https://m.media-amazon.com/images/I/512xYZ5OjGL._SL1000_.jpg"
			width="400" 
            height="400"></td><td><p><h1 style="font-size:30px;"> ONEPLUS 7 MIRROR GREY, 6GB RAM, 128GB STORAGE</h1>
									<h3>SPECIAL PRICE - ₹17,799(46%)</h3>
									<h4 style="font-size:15px;">Brand - OnePlus,
																Network Service Provider - TMobile Unlocked
																OS - Android Oxygen,
																Cellular Technology - 4G,
																Memory Storage Capacity - 128 GB</h4>
									<h5>AVAILABLE OFFERS - </h5>
									<h6 style="font-size:14px;">: Get 7.5% up to Rs. 1500 Instant Discount on World Bank Credit Card and Debit Card EMI transactions</h6>
					
									
					<input type="button" onclick="clickAlert()" value="Add to cart">
			<button type="Buy Now">Buy Now</button></p></td></p>
			
	</tr>		
		





	<tr>	
	<p style="text-align:left;"><td><img src="https://m.media-amazon.com/images/I/71lVwl3q-kL._SL1500_.jpg"
			width="500" 
            height="400"></td><td><p><h1 style="font-size:30px;">MI POWER BANK 3i 20000mAh LITHIUM POLYMER 18W FAST POWER DELIVERY CHARGING | Input- Type C | Micro USB| Triple Output | Sandstone Black</h1>
									<h3>SPECIAL PRICE - ₹1,899.00</h3>
									<h4 style="font-size:15px;">Connector Type - USB  Micro USB,
																Brand - MI,
																Battery Capacity - 20000 Milliampere Hour (mAh),
																Colour - Black</h4>
									<h5>AVAILABLE OFFERS - </h5>
									<h6 style="font-size:14px;">Partner Offers : Get GST invoice and save up to 28% on business purchases</h6>
					
									
					<input type="button" onclick="clickAlert()" value="Add to cart">
			<button type="Buy Now">Buy Now</button></p></td></p>
			
	</tr>
</table>
</center>
</body>
</html>